<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users List</title>
  </head>
  <body>
    <h1>Users List</h1>
    <table border="1">
      <thead>
        <tr>
          <th>Name</th>
          <th>Photo Profile</th>
          <th>Age</th>
          <th>Phone Number</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user => { %>
        <tr>
          <td><%= user.firstName %> <%= user.lastName%></td>
          <td><%= user.photoProfile %></td>
          <td><%= user.age %></td>
          <td><%= user.phoneNumber %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
